html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#appLayout {
    height: 100%;
    
}
#leftCol {
    width: 14em;
     text-align: left;
    background-color: #47484a;
}

.claro .demoLayout .edgePanel {
    background-color: #47484a;
    text-align: center;
}

h1 { 
    text-align: center;
    font-size: 2.5em; /* 40px/16=2.5em */
    color: #ebebeb;
}
h2 { 
    text-align: left;
    font-size: 1.5em; /* 24px/16=1.5em */
    color: #ebebeb;
}
.p1 {
  text-align: left;
  font-size::1.125em;
  color: #ebebeb;
}
.p2 {
  text-align: left;
  font-size::.875em;
  color: #ebebeb;
}


