html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0d8fc;
}
